extends layout

block content
  div.container.h-75.center-content
    form(action=currentUser.url + "/membership" method="POST")
      h1.main-heading= title
      if errors 
        each error in errors
          div.alert.alert-danger= error.msg
      if error
        div.alert.alert-danger= error
      if success
        div.alert.alert-success= success
      if currentUser.isMember == false 
        ul
          li You not currently a full member
          li Enter the membership code to gain full membership
      if currentUser.isMember == true
        ul
          li You are currently a full member
          li The membership code is "Kenneth"
      div(class="form-group")
        label(for="email") Membership Code
        input(type="text" name="code" class="form-control")
      div(class="form-group")  
        button(type="submit" class="btn btn-primary btn-block") Upgrade Membership