extends layout

block content
  div(class="content")
    div(class="form-box")
      if heading == "Update Post"
        form(action="" method="POST" class="form-control")
          h1(class="title")= heading
          if errors 
            each error in errors
              p(class="error")= error.msg 
          div(class="form-group")
            label(for="title") Title
            input(type="text" name="title" value=post.title)
          div(class="form-group")
            label(for="content") Content
            textarea(name="content")= post.content
          div(class="form-group")  
            button(type="submit" class="button") Update Post
      else
        form(action="/posts/create" method="POST" class="form-control")
          h1(class="title")= heading
          if errors 
            each error in errors
              p(class="error")= error.msg 
          div(class="form-group")
            label(for="title") Title
            input(type="text" name="title" value= title ? title : "")
          div(class="form-group")
            label(for="content") Content
            textarea(name="content")= content ? content : ""
          div(class="form-group")  
            button(type="submit" class="button") Create Post