extends layout

block content
  div.container.h-75.center-content
    if heading == "Update Post"
      form(action="" method="POST" class="post-form")
        h1.main-heading= heading
        if errors 
          each error in errors
            p(class="error")= error.msg 
        div.form-group.mb-4
          label.mb-2(for="title") Title
          input(class="form-control" type="text" name="title" value=post.title)
        div.form-group.mb-4
          label.mb-2(for="content") Content
          textarea(class="form-control" name="content")= post.content
        div.form-group.mb-4  
          button(type="submit" class="btn btn-secondary btn-block") Update Post
    else
      form(action="/posts/create" method="POST" class="post-form")
        h1.main-heading= heading
        if errors 
          each error in errors
            p.error= error.msg 
        div.form-group.mb-4
          label.mb-2(for="title") Title
          input(class="form-control" type="text" name="title" value= title ? title : "")
        div.form-group.mb-4
          label.mb-2(for="content") Content
          textarea(class="form-control" name="content")= content ? content : ""
        div.form-group.mb-4 
          button(type="submit" class="btn btn-primary btn-block") Create Post